@font-face {
  font-family: 'Raleway-Bold';
  src: url('../src/components/Assets/Fonts/Raleway-Bold/Raleway-Bold.eot?#iefix') format('embedded-opentype'),  url('../src/components/Assets/Fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'), url('../src/components/Assets/Fonts/Raleway-Bold/Raleway-Bold.ttf')  format('truetype'), url('../src/components/Assets/Fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('../src/components/Assets/Fonts/Raleway-Light/Raleway-Light.eot?#iefix') format('embedded-opentype'),  url('../src/components/Assets/Fonts/Raleway-Light/Raleway-Light.woff') format('woff'), url('../src/components/Assets/Fonts/Raleway-Light/Raleway-Light.ttf')  format('truetype'), url('../src/components/Assets/Fonts/Raleway-Light/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Raleway-Medium';
  src: url('../src/components/Assets/Fonts/Raleway-Medium/Raleway-Medium.eot?#iefix') format('embedded-opentype'),  url('../src/components/Assets/Fonts/Raleway-Medium/Raleway-Medium.woff') format('woff'), url('../src/components/Assets/Fonts/Raleway-Medium/Raleway-Medium.ttf')  format('truetype'), url('../src/components/Assets/Fonts/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Raleway-Regular';
  src: url('../src/components/Assets/Fonts/Raleway-Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'),  url('../src/components/Assets/Fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'), url('../src/components/Assets/Fonts/Raleway-Regular/Raleway-Regular.ttf')  format('truetype'), url('../src/components/Assets/Fonts/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'RussoOne-Regular';
  src: url('../src/components/Assets/Fonts/RussoOne-Regular/RussoOne-Regular.eot?#iefix') format('embedded-opentype'),  url('../src/components/Assets/Fonts/RussoOne-Regular/RussoOne-Regular.woff') format('woff'), url('../src/components/Assets/Fonts/RussoOne-Regular/RussoOne-Regular.ttf')  format('truetype'), url('../src/components/Assets/Fonts/RussoOne-Regular/RussoOne-Regular.svg#RussoOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
